.App {
  text-align: center;
}
ul li{
  list-style-type: none;
}
.container{
  display: flex;
  justify-content: center;
  color:#fff;
  padding:15px;
  border-radius:10px;
}
.control_icon{
  padding:0 10px;
  font-size:35px;    
  cursor: pointer;
}
.container input{
  text-align: center;
  border: none;
  outline:none;
  padding: 10px 10px;
  border-radius:5px;
  font-size:20px;
  border: 1px solid #ddd;
}
p{
  margin: 0;
  padding: 0;
}